body{
    background-color:#fff
}


/*収支パラメータ装飾*/
.top-lines{
    background-color:#ddffef;
    border-radius:8px;
    margin:5px;
    padding: 8px;
    border: solid 1px black;
}

/*ページめくり禁止メッセージ*/
#warning{
    color:red;
}

/*カード表示形式ボタン装飾*/
#expression-style-button{
    background-color: #c0f0ff;
    border: 0;
    font-size:1.2rem;
    width:190px;
}
/*ページめくりボタン装飾*/
.paging-button {
    font-size: 25px;
    height: 60px;
    padding: 4px;
    margin: 8px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 9px;
    padding: 10px;
    background-color: #dddddd;
    border: solid 2px black;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#new-information-button {
    background-color: #ffffcc;
    text-decoration: none;
    border: 20px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    margin-left: 30px;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
}

/*画面全体の最大幅を750に縛る*/
#outbounds{
    max-width: 750px;
}

#first-line {
    display: flex;
    width: 850px;
}

/*二行目ラインの位置を整える*/
#second-line{
    display:flex;
}

/*頑張ったハートの大きさ調整*/
.ganbatta {
width: 25px;
margin: 0;
padding:0;
}

/*ハート同士の重ね合わせ調整*/
#ganbatta + #ganbatta {
    margin-left: -10px;
    align-items:center;
    padding-top:6px;
}


/*がんばったのハートを並べる列*/
#heart-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* ← 折り返す */
    max-width: 220px;
}

/*がんばった数のタイトルを改行しないよう調整*/
#ganbatta-title{
    display: inline;
    margin:0;
}