
.in-out-button{
    padding: 8px;
    margin: 12px;
    width: 80px;
    font-size:30px;
}

.homeru-icon{
    cursor:pointer;
    width:45px;
}

.income-background {
    background-color: #ffff66;
    display: block;
    margin: auto;
    border: 1px solid;
    border-radius: 40px;
    width: 60%;
    font-size: 1.5em;
    padding: 20px;
}

.outgo-background {
    background-color: #bbddff;
    display: block;
    margin: auto;
    border: 1px solid;
    border-radius: 40px;
    width: 60%;
    font-size: 1.5em;
    padding: 20px;
}

.select-category{
    font-size: 24px;
    padding:5px;
    margin:5px;
}

input {
    width: 250px;
    height: 25px;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
}

.in-out-button {
    padding: 1px;
    width: 90px;
    height: 50px;
}

#sender-button {
    padding: 1px;
    margin: 1px;
    width: 90px;
    height: 50px;
    font-size: 30px;
    background-color: #99ffdd;
    border: solid 1px;
    border-radius: 8px;
}

#back-button {
    width: 90px;
    height:85px;
    font-size: 25px;
}