<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kakeiboApp.repository.GraphMapper">

<!--円グラフ-->
<select id="pieChartMapper">
	SELECT
		c.category,
		SUM(k.amount) as total
	FROM
		kakeibo k
		LEFT JOIN category c ON k.category_id = c.id
	WHERE
		k.username = #{username}
		AND k.trade_date BETWEEN #{start} AND #{end}
	GROUP BY
		c.category
	ORDER By
		k.category_id	
</select>

</mapper>