<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kakeiboApp.repository.KakeiboMapper">

<!-- 全ての情報を取得する -->
<select id="getAll" resultType="com.example.kakeiboApp.DTO.KakeiboDTO">
	select
		K.id,
		C.category,
		K.trade_date as tradeDate,
		K.amount,
		K.homeru,
		K.memo,
		K.created_at as createdAt,
		K.updated_at as updatedAt
	from kakeibo K left join category C
	on K.category_id = C.id
	order by K.trade_date desc
</select>

<!--ユーザーが収支データを所有しているかをチェック-->
<select id="countDataByUser">
	select count(*) from kakeibo
	where username = #{username}
</select>

<!--特定idの収支情報をKakeiboDTOのために取得-->
<select id="getById"  resultType="com.example.kakeiboApp.DTO.KakeiboDTO">
	select
		K.id,
		K.category_id as categoryId,
		C.category,
		K.trade_date as tradeDate,
		K.amount,
		K.homeru,
		K.memo,
		C.in_out as inOut,
		K.created_at as createdAt,
		K.updated_at as updatedAt
	from kakeibo K left join category C
	on K.category_id = C.id
	where K.id = #{id}
</select>

<!--一か月分全ての家計簿を獲得-->
<select id="getMonthly" resultType="com.example.kakeiboApp.DTO.KakeiboDTO">
	select
		K.id,
		C.category,
		K.trade_date as tradeDate,
		K.amount,
		K.homeru,
		K.memo,
		C.in_out as inOut,
		K.soft_delete as softDelete,
		K.created_at as createdAt,
		K.updated_at as updatedAt
	from kakeibo K left join category C
	on K.category_id = C.id
	where
		K.trade_date between
			make_date(#{year},#{month}, #{day})
		and
			make_date(#{year},#{month}, #{day}) + interval '1 month' 
			- interval '1 day'
		and
			K.username = #{username}
	order by K.trade_date desc
</select>

<!--ユーザーの給料日を取得する-->
<select id="getPayday">
	select payday 
		from users
	where
		username = #{username}
</select>

<!--最新、最古のデータ日付をチェックして、ページめくりを禁止する基準にする-->
<select id="getDataRange" resultType="com.example.kakeiboApp.DTO.DataRangeDTO">
	select
		max(trade_date) as newestData,
		min(trade_date) as oldestData
	from kakeibo
</select>

<!--カテゴリー情報を取得する-->
<select id="getAllCategory" resultType="com.example.kakeiboApp.entity.Category">
	select
		id, category, in_out as inOut,sort_order as sortOrder
	from category
</select>


<!--新しい収支データを登録する-->
<insert id="saveNewFile" >
	insert into kakeibo(username, category_id, amount, memo, trade_date, homeru)
	values
	(#{username}, #{categoryId}, #{amount}, #{memo}, #{tradeDate}, #{homeru})
</insert>

<update id="updateHomeru">
	update kakeibo
	set homeru = #{homeru}
	where id = #{id}
</update>

<update id="deleteData">
	update kakeibo set soft_delete = #{delete}
	where id = #{id}
</update>

<update id="update">
	update kakeibo 
		set 
			trade_date = #{kakeibo.tradeDate},
			category_id = #{kakeibo.categoryId},
			amount = #{kakeibo.amount},
			memo = #{kakeibo.memo},
			homeru = #{kakeibo.homeru},
			updated_at = current_timestamp
	where
		id = #{id}
</update>
	
</mapper>