<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kakeiboApp.repository.UserMapper">
	<insert id="resisterUser">
		insert into user(username, password, payday)
		values(#{userName}, #{password}, #{payday})
	</insert>
	
	<select id="getUser">
		select
			username as userName,
			password,
			payday
		from kakeibo
			where username = #{username}
	</select>
</mapper>